.article{
    font-size: 1.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article article{
    max-width: 50vw;
    line-height: 2.2rem;
}

.article .article-title{
    margin-top: 25vh;
}

.article article ol li strong {
    font-size: 1.5rem;
}