.article{
    font-size: 1.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F6E6DB;
}

.article article{
    max-width: 47vw;
    line-height: 2.5rem;
}

.article .article-title{
    margin-top: 25vh;
    max-width: 60vw;
    line-height: 2.8rem;
}

.article article ol li strong, .article article section p strong {
    font-size: 1.5rem;
}

.article article{
    display: flex;
    flex-direction: column;
}

.article article img{
    max-width: 70%;
    margin: 0 auto;
    object-fit: fill;
}

.article article section p{
    text-indent: 2.5rem;
}