
.home .headlines ul li, .home .local ul li{
    font-weight: bold;
    list-style-type: none;
}

.home .headlines h3{
    text-align: center;
}

.home .headlines ul p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-left: 1vw;
}

.home .headlines{
    max-width: 47vw;
}

@media only screen and (max-width: 944px) {
    .home .headlines{
        max-width: 90vw;
    }
}