.layer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
  color: white;
  min-height: 37vh;
  background-color: rgb(14, 14, 14);
}

.layer .quote {
  position: relative;
  font-size: 1.5rem;
  display: flex;
}

.layer .title {
  text-align: center;
}

.layer .quotes {
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.layer .quotes .quote-author {
  font-size: 1.4rem;
}